{% extends 'base.html' %}

{% block title %}
<title> Cambiar Password</title>
{% endblock title %}

{% block titulo_sub_header %}
<h1>El Aleph</h1>
<span class="subheading">Blog literario</span>
{% endblock titulo_sub_header %}

{% block despues_del_header %}

<h3 class="post-subtitle">Cambiar Password</h3>
<p>
    <form action={% url 'cambiar_password' %} method="post">
        {% csrf_token %}
        
        <table>{{form}}</table>
        <button>Cambiar</button>       
    </form>
</p>
{% endblock despues_del_header %}