{% extends 'base.html' %}
{% load static %}    


{% block title %}
<title>Crear Posteo</title>
{% endblock title %}

{% block imagen %}
        <header class="masthead" style="background-image: url({% static 'inicio/assets/img/crearposteo.jpg' %})">
{% endblock imagen %}

{% block titulo_sub_header %}
<h1>Crear Posteo</h1>
<span class="subheading">"Ya dije mucho y varias veces que escribir es un acto de amor. Y sin eufemismo." Juan Carlos Onetti</span>
{% endblock titulo_sub_header %}

{% block despues_del_header %}


<p>
    <button>
        <a href={% url 'index' %}>Volver</a>    
    </button>
</p>

<p>
    <form action={% url 'crear_posteo' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
               
        <table>
            {{form.media}}
            {{form}}
        </table>
        <button>Crear</button>
        
    </form>
</p>
{% endblock despues_del_header %}