{% extends 'base.html' %}

{% block title %}
<title>Listado de Posteos</title>
{% endblock title %}

{% block despues_del_header %}
<p>
    <a href={% url 'crear_posteo' %}>Crear Posteo</a>
</p>

<p>
    <form action={% url 'listado_posteos' %}>
        {{form}}
        <button>Buscar</button>
    </form>
</p>

<p>
    {% if listado_perros %}
    <ul>
        {% for posteo in listado_posteos%}
        <li> {{posteo}} 
            {% comment %} <a href={% url 'mostrar_perro' perro.id %}>Mostrar</a>
            <a href={% url 'editar_perro' perro.id %}>Editar</a>
            <a href={% url 'eliminar_perro' perro.id %}>Eliminar</a> {% endcomment %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
       <p> No se encontraron datos. </p>
    {% endif %}
    
</p>
{% endblock despues_del_header %}
