{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock title %}

{% block header %}

<!-- Page Header-->
{% load static %}  
<header class="masthead" style="background-image: url({% static 'inicio/assets/img/about-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Acerca de mi</h1>
                    <span class="subheading">“Creo que parte de mi amor a la vida se lo debo a mi amor a los libros”. Adolfo Bioy Casares.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block despues_del_header %}


        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p align="justify">Soy Nicolas Nieva Dumas, Contador Publico Nacional egresado de la Universidad Nacional de Tucuman. Lector aficionado. En esta etapa de mi vida perfeccionandome en programacion informatica. </p>
                        
                    </div>
                </div>
            </div>
        </main>
    
    {% endblock despues_del_header %}